@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<center>

    <fieldset style="width: 40%">
        <legend><h2>Login</h2></legend>
        <form method="post">
            <table cellpadding="4" cellspacing="4">
                <tr>
                    <td>USERNAME</td>
                    <td><input name="username" type="text" value="" /></td>
                </tr>
                <tr>
                    <td>PASSWORD</td>
                    <td><input name="password" type="password" /></td>
                </tr>
                
                <tr>
                    <td>&nbsp;</td>
                    <td><input name="buttonLogin" type="submit" value="Login" /></td>
                </tr>
            </table>
        </form>
    </fieldset>
    <br />

    <!-- Label to display error message -->
    <label style="color:red">@ViewBag.messege </label>
</center>
