@{
    ViewBag.Title = "report";
}

<center>
    <h2>Report</h2> <br>
    <label><a href="/AdminPanel">Admin Panel</a></label> <hr>




    <table cellpadding="15" cellspacing="20" border="1" rules="all">


        <tr>
            <td>
                Most House Available In Area
            </td>

            <td>

                @ViewBag.AreaName

            </td>
        </tr>

        <tr>
            <td>
                Most Active User
            </td>
            <td>
                @ViewBag.UserName
            </td>
        </tr>
        <tr>
            <td>
                Most Searched Keyword
            </td>
            <td>
                @ViewBag.KeyWord
            </td>
        </tr>
        <tr>
            <td>
                Most Visited IP
            </td>
            <td>
                @ViewBag.Ip
            </td>
        </tr>



    </table>





</center>
